#login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin-top: -100px;
    margin-left: -150px;

    background: #fefefe;
    border: 1px solid #444;
    padding: 10px;
}

#login-form .close {
    width: 16px;
    height: 16px;
    background: url(/themes/images/cross_16.png);
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

#login-form #login-error {
    color: red;
    font-weight: bold;
    text-align: center;
}

#login-form h1 {
    margin: 5px 0 15px;
    text-align: center;
}

#login-form .inputs {
    margin: 15px auto;
    width: 250px;
}

#login-form .inputs .input {
    width: 100%;
    margin-top: 10px;
}

#login-form .inputs .input p {
    float: left;
    width: 70px;
}

#login-form .inputs .input input {
    float: right;
    width: 150px;
    padding: 2px;
}

#login-form .inputs .submit {
    cursor: pointer;
    margin-top: 10px;
    float: right;
    width: 100px;
    height: 20px;
    text-align: center;
    border: 1px solid #444;
    border-radius: 5px;
    background: #ccc;
}

#login-form #not-have-account {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

#login-form #remind-password {
    position: absolute;
    right: 5px;
    bottom: 5px;
}





#register-form {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin-top: -100px;
    margin-left: -150px;

    background: #fefefe;
    border: 1px solid #444;
    padding: 10px;
    font-size: 13px;
}

#register-form .close {
    width: 16px;
    height: 16px;
    background: url(/themes/images/cross_16.png);
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

#register-form h1 {
    margin: 5px 0 15px;
    text-align: center;
    font-size: 14px;
}

#register-form .inputs {
    margin: 15px auto;
    width: 250px;
}

#register-form .inputs .input {
    width: 100%;
    margin-top: 10px;
}

#register-form .inputs .input p {
    float: left;
    width: 70px;
    margin: 0;
}

#register-form .inputs .input input {
    float: right;
    width: 150px;
    padding: 2px;
}

#register-form .inputs .submit {
    cursor: pointer;
    margin-top: 10px;
    float: right;
    height: 20px;
    text-align: center;
    border: 1px solid #444;
    border-radius: 5px;
    background: #ccc;
}



