#box-background {
    z-index: 1005;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}

#box-container {
    top: 0;
    left: 0;
    z-index: 1010;
    width: 80%;
    height: 80%;
    background: black;
    position: fixed;
    border: 5px solid #ccc;
    top: 10%;
    left: 10%;
}