/* Кнопки */

.mini-button, .normal-button {
    background: #ff4b39;
    color: white;
    cursor: pointer;
    float: left;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}

.mini-button:hover, .normal-button:hover {
    background: #d02311;
    color: white !important;
}

.mini-button {
    font-size: 12px;
    padding: 2px 3px;
	margin: 2px 0;
}

.normal-button {
    font-size: 16px;
    padding: 10px 15px;
	margin: 5px 0;
}