* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: url(/themes/images/cap-background.jpg) no-repeat center center white;
/*    background-size: contain;*/
    font-family: Tahoma, Verdana, Arial;
}

#container {
    width: 1145px;
    height: 730px;
    margin: 0 auto;
    position: relative;
    background: white;
    border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
    box-shadow: 2px 2px 10px #ccc;
    -moz-box-shadow: 2px 2px 10px #ccc;
    -webkit-box-shadow: 2px 2px 10px #ccc;
    -o-box-shadow: 2px 2px 10px #ccc;
}

#logo {
    background: url(/themes/images/cap-logo.jpg) no-repeat;
    width: 531px;
    height: 95px;
    position: absolute;
    display: block;
    left: 50px;
    top: 40px;
}

#info {
    width: 1104px;
    height: 320px;
    background: url(/themes/images/cap-info.png) no-repeat;
    position: absolute;
    left: 10px;
    top: 250px;
}

#thanks {
    position: absolute;
    width: 360px;
    border: 4px solid red;
    left: 380px;
    top: 180px;
    background: white;
    text-align: center;
    padding: 20px;
    box-shadow: 3px 3px 10px #717070;
    cursor: pointer;
}

#artkhatuyev {
    background: url("/themes/images/artkhatuyev.ru.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 156px;
    left: 1145px;
    position: absolute;
    top: 270px;
    width: 58px;
}

#vk {
    background: white;
    height: 40px;
    left: 700px;
    position: absolute;
    top: 498px;
    width: 360px;
}


#foot {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    background: #EEE;
    border-top: 1px solid #e6e6e6;
    text-align: center;
    font-size: 19px;
    color: #3e3e3e;
    top: 600px;
}

input#email {
    position: absolute;
    width: 200px;
    height: 35px;
    left: 697px;
    top: 360px;
    border: none;
    padding: 0 10px;
    color: #444;
}

div#submit {
    background: rgba(0,0,0,0);
    border: medium none;
    color: #444444;
    cursor: pointer;
    height: 29px;
    left: 933px;
    position: absolute;
    top: 363px;
    width: 130px;

    -moz-transition:    background 0.5s;
    -webkit-transition: background 0.5s;
    -ms-transition:     background 0.5s;
    -o-transition:      background 0.5s;
    transition:         background 0.5s;
}

div#submit:hover {
    background: rgba(0,0,0,0.1);
}