/*----------------------------
	Счетчик
-----------------------------*/
#countdown-container {
    position: absolute;
    left: 770px;
    top: 10px;
    font-size: 24px;
}

#countdown-names {
    position: absolute;
    left: -20px;
    top: 2.3em;
    font-size: 0.6em;
    color: white;
    width: 20em;
}

#countdown-names .name {
    float: left;
    margin-left: 1.6em;
    width: 3.1em;
    text-align: center;
}

#countdown-foot {
    color: #E6E6E6;
    font-size: 0.5em;
    left: 0;
    position: absolute;
    top: 4.2em;
    width: 20em;
}

#countdown {
    position: absolute;
    left: 0px;
    top: 0px;
    letter-spacing: -10px;
    width: 11em;
}

#countdown .countdownHolder {
	width:450px;
	margin:0 auto;
	text-align:center;
	letter-spacing:-3px;
}

#countdown  .position {
	display: inline-block;
	height: 1.6em;
	overflow: hidden;
	position: relative;
	width: 1.05em;
    margin: 0.05em;
}

#countdown .digit {
	position:absolute;
	display:block;
	width:1em;
	background-color:#444;
	border-radius:0.2em;
	text-align:center;
	color:#fff;
	letter-spacing:-1px;
}

#countdown .digit.static {
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);

	background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, #3A3A3A),
		color-stop(0.5, #444444)
	);
}

/**
 * Вы можете использовать данные классы для скрытия
 * частей счетчика, которые не нужны.
 */

#countdown .countDays{ /* display:none !important;*/ }
#countdown .countDiv0{ /* display:none !important;*/ }
#countdown .countHours{}
#countdown .countDiv1{}
#countdown .countMinutes{}
#countdown .countDiv2{}
#countdown .countSeconds{}


#countdown .countDiv{
	display:inline-block;
	width:16px;
	height:1.6em;
	position:relative;
}

#countdown .countDiv:before,
#countdown .countDiv:after{
	position:absolute;
	width:5px;
	height:5px;
	background-color:#444;
	border-radius:50%;
	left:50%;
	margin-left:-3px;
	top:0.5em;
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
	content:'';
}

#countdown .countDiv:after{
	top:0.9em;
}