#panel-left {
    left: -177px;
    padding: 10px 0;
    position: absolute;
    top: 300px;
    width: 215px;
}
#panel-left a {
    outline: medium none;
    position: relative;
    display: block;
    clear: both;
    marin-top: 15px;
}
#panel-left a p {
    color: #292929;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 18px;
    height: 32px;
    line-height: 32px;
    margin-bottom: 9px;
    position: relative;
    text-align: right;
    width: 170px;
}
#panel-left a .lp-button {
    background: url("/themes/images/icons.png") no-repeat scroll -3px top transparent;
    cursor: pointer;
    height: 32px;
    position: relative;
    width: 32px;
    margin: 0 auto;
    float: right;
}
#panel-left a .lp-button-active {
    background: url("/themes/images/icons.png") no-repeat scroll -53px top transparent;
    height: 32px;
    position: relative;
    width: 32px;
}


#panel-left a .lp-button-today {
    background-position: -40px 0px;
}

#panel-left a .lp-button-today-active {
    background-position: 0px 0px;
}

#panel-left a .lp-button-statistics {
    background-position: -40px -34px;
}

#panel-left a .lp-button-statistics-active {
    background-position: 0px -34px;
}

#panel-left a .lp-button-globalstatistics {
    background-position: -40px -34px;
}

#panel-left a .lp-button-globalstatistics-active {
    background-position: 0px -34px;
}

#panel-left a .lp-button-about_project {
    background-position: -40px -132px;
}

#panel-left a .lp-button-about_project-active {
    background-position: -2px -132px;
}

#panel-left a .lp-button-about_ramadan {
    background-position: -39px -98px;
}

#panel-left a .lp-button-about_ramadan-active {
    background-position: 0px -98px;
}

#panel-left a .lp-button-videos {
    background-position: -39px -165px;
}

#panel-left a .lp-button-videos-active {
    background-position: 0px -165px;
}

#panel-left a .lp-button-stories {
    background-position: -39px -234px;
}

#panel-left a .lp-button-stories-active {
    background-position: 3px -234px;
}

#panel-left a .lp-button-settings {
    background-position: -39px -66px;
}

#panel-left a .lp-button-settings-active {
    background-position: 0px -66px;
}


#panel-left a .tip-left {
    opacity: 0;
    left: 60px;
    top: 5px;
    margin: 0;
    display: none;
}
