#loading {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 5px #A29797;
    height: 37px;
    opacity: 0;
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 40px;
    z-index: 9999999;
}

#loading img {
    margin: 2px;
}
