/* Оповещения в системе */

#notifies {
    overflow: hidden;
    position: fixed;
    right: 10px;
    top: 0;
    width: 250px;
    z-index: 9999999;
}

#notifies .notify {
    -moz-transition: border 0.5s ease 0s, background 0.5s ease 0s; -webkit-transition: border 0.5s ease 0s, background 0.5s ease 0s; -ms-transition: border 0.5s ease 0s, background 0.5s ease 0s; -o-transition: border 0.5s ease 0s, background 0.5s ease 0s; transition: border 0.5s ease 0s, background 0.5s ease 0s;
    background: rgb(88, 87, 87); /* for IE */
    background: rgba(88, 87, 87, 0.86);
    box-shadow: 0 0 2px #777;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    margin: 10px 0;
    padding: 0 5px;
    position: relative;
    width: 235px;
}
#notifies .notify:hover {
    background: #545454;
}
#notifies .notify .notify-close {
    -moz-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s;
    background: url("/themes/images/components/notify/close.gif") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 11px;
    opacity: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 11px;
}
#notifies .notify:hover .notify-close {
    opacity: 0.5;
}
#notifies .notify:hover .notify-close:hover {
    opacity: 1;
}
#notifies .notify .notify-text {
    margin-bottom: 5px;
}
#notifies .notify .notify-text a {
    color: white;
}
#notifies .notify .notify-head {
    float: left;
    margin-bottom: 4px;
    margin-top: 5px;
    width: 233px;
}
#notifies .notify .notify-head-icon {
    float: left;
    height: 30px;
    width: 35px;
}
#notifies .notify .notify-head-text {
    float: left;
    font-size: 11px;
    font-style: italic;
    position: relative;
    top: 5px;
}
