.pagination {
    float: right;
    font-size: 13px;
    height: 32px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pagination li {
    display: inline;
    margin: 0 5px;
}

.pagination li a {
    color: black;
    text-decoration: none;
}

.pagination div.active a {
    color: white;
    text-decoration: none;
}

.pagination div.active {
    background-color: #960018;
    border-color: #960018;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    display: inline;
    margin: 4px;
    padding: 4px;
}

.pagination div.page a {
    color: black;
    text-decoration: none;
}

.pagination div.page {
    background-color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    display: inline;
    margin: 4px;
    padding: 4px;
}

.pagination .dots {
    background-color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    display: inline;
    margin: 4px;
    padding: 4px;
}