.registration-steps {
    background: #23475f;
    font-size: 14px;
    color: white;
    padding: 5px 20px;
    position: relative;
    top: -4px;
}

.registration .normal-button {
    width: 300px;
    margin: 0 auto;
    float: none;
}

.registration-inputs .today-input {
    width: 100%;
    height: 36px;
    margin-bottom: 9px;
    float: left;
}

.registration-inputs .today-input .today-input-desc {
    height: 36px;
    float: left;
    font-size: 14px;
    color: black;
    line-height: 36px;
}

.registration-selects {
    width: 520px;
}

.registration-selects td.title {
    font-size: 15px;
    width: 100px;
    text-align: center;
}

.registration-selects td.select input {
    font-size: 18px;
    padding: 8px;
    background: white;
    border: 1px solid #d4d8d8;
    width: 380px;
}

.registration-selects td.select select {
    font-size: 18px;
    padding: 8px;
    background: white;
    border: 1px solid #d4d8d8;
    width: 397px;
}

.registration-selects .submit {
    display: block;
    width: 150px;
    margin: 15px auto;
}

.registration-selects .submit input {
    width: 150px;
}