#results {

    background: #499bea; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #499bea 0%, #207ce5 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #499bea 0%,#207ce5 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #499bea 0%,#207ce5 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #499bea 0%,#207ce5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    
    border-radius: 20px;
    margin: 20px 0;
    padding: 20px;
    height: 450px;
}

#results * {
    text-shadow: 1px 1px 4px black;
    -moz-text-shadow: 1px 1px 4px black;
    -webkit-text-shadow: 1px 1px 4px black;
}

#results .title {
    font-size: 30px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
}

#results #usersscore {
    font-size: 60px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
}

#results #totalscore {
    font-size: 80px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    margin-top: 0px;
}

#results #status {
    font-size: 60px;
    letter-spacing: 0px;
    text-align: center;
    color: #ECE307;
    margin-top: 5px;
    margin-bottom: 10px;
}

#results #desc {
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    margin-top: 0;
    text-align: center;
}