.search-container {
    position: relative;
}

/* Для инпута поиска */
.search-container .search {
}
.search-container .search:focus {
    color: #444 !important;
}
.search-container .search-items-container {
    background-color: white;
    border-bottom: 1px solid #AAA;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;

    border-radius: 0 0 5px 5px;
    left: 0;
    margin-bottom: 5px;
    margin-left: 0;
    margin-top: -1px;
    max-height: 250px;
    overflow-y: auto;
    padding: 4px 0;
    position: absolute;
    z-index: 1;
}
.search-container .search-items-container p {
    border-bottom: 1px dashed #ccc;
    cursor: pointer;
    font-size: 14px;
    line-height: normal;
    margin: 3px 0 !important;
    padding: 0 0 2px 3px;
}
.search-container .search-items-container p:hover {
    background-color: #777;
    color: white;
}
.search-container .search-items-container p:last-child {
    border-bottom: none;
}
.search-container .search-message-container {

}
.search-container .search-message-container img {
    position: relative;
    top: 4px;
    margin-right: 5px;
    float: left;
    cursor: pointer;
}
.search-container .search-message-container span {
    font-size: 12px;
    color: #444;
}