.statistics {
}

.statistics .statistics-days {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
}

.statistics .statistics-days .tip-red {
    text-align: right;
    padding-right: 10px;
}

.statistics .statistics-days .active {
    background: #d25251;
    color: white !important;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

.statistics tbody tr .today-checkbox {
    margin: 3px;
}

.statistics tbody tr .statistics-title {
    text-align: right;
    padding-right: 10px;
    font-size: 10px;
}