.stories .normal-button {
    width: 150px;
    margin: 20px auto;
    float: none;
}

.stories .story-preview {
    width: 370px;
    height: 135px;
    padding-left: 12px;
    float: left;
    border-left: 1px solid #383c3f;
    margin-bottom: 40px;
}

.stories .story-preview .story-preview-title {
    display: block;
    width: 100%;
    overflow: hidden;
    color: #c25747;
}

.stories .story-preview .story-preview-text {
    display: block;
    width: 100%;
    margin: 10px 0 10px;
    height: 83px;
    overflow: hidden;
}

.stories .story-preview .story-preview-info {
    font-size: 13px;    
}

.stories .story-preview .story-preview-info-date {
    color: #384148;
    margin-right: 15px;
}

.stories .story-preview .story-preview-info-rating {
    color: #b46257;
}

.stories-filter a {
    text-align: center;
    display: block;
    float: left;
    padding: 10px 0 0;
    margin: 0 20px;
    font-size: 20px;
    color: #444;
    border-bottom: 1px dashed #444;
}
.stories-filter a.active {
    font-weight: bold;
    color: black;
}

.story-info {
    width: 647px;
    font-size: 11px;
    position: relative;
    margin-top: 20px;
}

.story-info .story-info-date {
    color: #069;
    padding-right: 5px;
    /*border-right: 1px solid #444;*/
}

.story-info .story-likes {
    color: #444;
}

.story-info .my-like {
    color: #444;
    float: right;
    width: 130px;
}

.story-info .my-like input {
    position: relative;
    top: 3px;
}

.story-page {
    margin-bottom: 50px;
}

.story-page .story-services .pluso {
    margin-top: 10px;
    left: -5px;
}