body {
    background: url(/themes/images/background.png) repeat-x #ecf0f1 top;
}

a {
    color: #137BDA;
    text-decoration: none;

    -moz-transition:    all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition:     all 0.5s;
    -o-transition:      all 0.5s;
    transition:         all 0.5s;
}


a:hover {
    color: black;
}

#reformal_tab {
    z-index: 100 !important;
    position: absolute !important;
    right: 50px;
    left: auto !important;
}

.clear {
    clear: both;
}

.ovh { overflow: hidden; }
.fl_l { float: left !important; }
.fl_r { float: right !important; }
.tac { text-align: center; }

.mt15px { margin-top: 15px !important;    }
.ml15px { margin-left: 15px !important;   }
.mr15px { margin-right: 15px !important;  }
.mb15px { margin-bottom: 15px !important; }

.mt10px { margin-top: 10px !important;    }
.ml10px { margin-left: 10px !important;   }
.mr10px { margin-right: 10px !important;  }
.mb10px { margin-bottom: 10px !important; }

.mt5px { margin-top: 5px !important;    }
.ml5px { margin-left: 5px !important;   }
.mr5px { margin-right: 5px !important;  }
.mb5px { margin-bottom: 5px !important; }





#content-wrap {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

#leftpanel {
    position: absolute;
    left: 0;
    top: 0;
    background: url(/themes/images/logo.png) no-repeat top center;
    width: 267px;
    height: 750px;
}

#leftpanel .logo-link {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 177px;
}

#toppanel {
    width: 740px;
    height: 60px;
    left: 320px;
    top: 10px;
    position: absolute;
}

#toppanel #toppanel-register {
    width: 258px;
    height: 56px;
    line-height: 56px;
    background: #e74c3c;
    position: absolute;
    left: 20px;
    top: 0px;
    color: white;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
}

#toppanel #toppanel-login {
    position: absolute;
    left: 309px;
    top: 17px;
    color: white;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px dashed #ccc;
    display: block;
}

#toppanel #toppanel-logout {
    position: absolute;
    left: 29px;
    top: 17px;
    color: white;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px dashed #ccc;
    display: block;
}

#toppanel #toppanel-params {
    position: absolute;
    left: 120px;
    top: 17px;
    color: white;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px dashed #ccc;
    display: block;
}

.content-container {
    position: absolute;
    width: 770px;
    min-height: 400px;
    left: 339px;
    top: 110px;
}

.content-container h1 {
    font-size: 30px;
    color: #e74c3c;
}

.content-container #buttons {
    height: 34px;
    border-bottom: 1px solid #34495e;
}

.content-container #buttons .button-link {
    width: 114px;
    height: 28px;
    background: #34495e;
    color: white;
    line-height: 28px;
    font-size: 15px;
    display: block;
    margin-left: 3px;
    padding: 0 5px;
    float: left;
    text-align: center;
    text-decoration: none;
}

.content-container #buttons .button-link:first-child {
    margin-left: 0;
}

.content-container #buttons .button-link-right {
    height: 28px;
    background: #34495e;
    color: white;
    line-height: 28px;
    font-size: 15px;
    display: block;
    float: right;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
}

.content-container #buttons .button-link.active,
.content-container #buttons .button-link-right.active
{
    background: #e74c3c;
}

#content {
    margin: 10px 0 50px;
    font-size: 14px;
    color: black;
    position: relative;
}

#content p {
    margin-bottom: 15px;
}

#content .tip-red {
    color: #d25251;
    font-weight: bold;
}

#content .tip-blue {
    color: #23475f;
    font-weight: bold;
}

