/* tables */
table.tablesorter {
/*	background-color: #CDCDCD;*/
	margin:10px 0pt 15px;
	font-size: 9pt;
	width: 100%;
	text-align: left;
}

table.tablesorter thead tr th {
    cursor: pointer;

    -moz-transition:    all 0.2s;
    -webkit-transition: all 0.2s;
    -ms-transition:     all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
}

table.tablesorter thead tr th:hover {
	background-color: #e6EEEE;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: white; /*#e6EEEE*/
	border: 1px solid #ccc;
	padding: 4px;
    font-weight: normal;
}

table.tablesorter thead tr .header {
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody tr:last-child {
    border-bottom: 1px solid #ccc;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 7px;
	vertical-align: top;
    border-right: 1px solid #ccc;
}

table.tablesorter tbody td:first-child {
    border-left: 1px solid #ccc;
}

table.tablesorter tbody tr.odd {
	background-color: #F0F0F0;
}

table.tablesorter tbody tr.even {
	background-color: white;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

table.tablesorter tbody tr td {
	vertical-align: middle;
}










/* tables */
table.light-table {
	margin: 10px 0;
	font-size: 9pt;
	width: 100%;
	text-align: left;
}

table.light-table tbody tr:first-child {
    border-top: 1px solid #eee;
}

table.light-table tbody tr {
    border-bottom: 1px solid #eee;
}

table.light-table tbody td {
	color: #3D3D3D;
	padding: 7px;
	vertical-align: top;
    border-right: 1px solid #eee;
}

table.light-table tbody td:first-child {
    border-left: 1px solid #eee;
}

table.light-table tbody tr.odd {
	background-color: #F0F0F0;
}

table.light-table tbody tr.even {
	background-color: white;
}

table.light-table tbody tr td {
	vertical-align: middle;
}

table.light-table input, table.light-table textarea {
	width: 97%;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 3px;
}