.today-inputs .today-input {
    width: 240px;
    height: 36px;
    margin-bottom: 9px;
    float: left;
}

.today-checkbox {
    width: 28px;
    height: 28px;
    float: left;
    border: 4px solid #33495e;
    margin-right: 20px;
    background-color: #fffff8;
    cursor: pointer;
}

.today-checkbox.checked {
    background: url(/themes/images/ok.png) #fffff8 no-repeat center center;
}

.today-inputs .today-input .today-input-desc {
    height: 36px;
    float: left;
    font-size: 14px;
    color: black;
    display: table;
    width: 180px;
}

.today-inputs .today-input .today-input-desc-inner {
    display: table-cell;
    vertical-align: middle;
}