#videos {

}

#videos .video {
    float: left;
    width: 30%;
    margin: 10px 3% 30px 0%;
    position: relative;
}

#videos .video .manage {
    float: right;
    right: 2px;
    top: 0px;
    z-index: 10;
}

#videos .video .avatar {
    float: left;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    border: 1px solid black;
    height: 130px;
    width: 100%;
    display: block;
    cursor: pointer;
    opacity: 0.8;
    -moz-transition:    all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition:     all 0.5s;
    -o-transition:      all 0.5s;
    transition:         all 0.5s;
}

#videos .video .avatar:hover {
    opacity: 1;
}

#videos .video .text {
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 12px;
}

#videos .video .more {
    margin-top: 10px;
    float: right;
}


/* Контейнер для смотрелки галереи */
#video-background {
    z-index: 10;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
}

#video-container {
    top: 0;
    left: 0;
    z-index: 11;
    width: 80%;
    height: 80%;
    background: black;
    position: fixed;
    border: 5px solid #ccc;
    top: 10%;
    left: 10%;
}


.quran-random {
    width: 100%;
    height: 220px;
    position: absolute;
    left: 0;
    top: 187px;
}

.quran-random .avatar {
    float: left;
    overflow: hidden;
    background-size: cover;
    height: 150px;
    width: 100%;
    display: block;
    cursor: pointer;
    border: 1px solid black;
    background-position: center center;
    position: absolute;
    top: 0;
    left:0;
}

.quran-random .text {
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: 155px;
    left:0;
}

.quran-random .refresh-video {
    position: absolute;
    background: url(/themes/images/refresh.png) no-repeat center;
    left: -20px;
    top: 2px;
    opacity: 0.7;
    width: 16px;
    height: 16px;
    -moz-transition:    all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition:     all 0.5s;
    -o-transition:      all 0.5s;
    transition:         all 0.5s;
    cursor: pointer;
}

.quran-random .refresh-video:hover {
    opacity: 1;
}

/* Управление фотографиями  */
#photos {

}

#photos .photo {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    cursor: move;
    position: relative;
}

#photos .photo .close {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(/themes/images/cross_16.png) no-repeat;
    cursor: pointer;
    display: none;
    top: -8px;
    right: -8px;
}

#photos .photo:hover .close {
    opacity: 0.8;
    display: block;
}

#photos .photo .close:hover {
    opacity: 1;
    display: block;
}

#photos .photo .setmain {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(/themes/images/widescreen.png) no-repeat;
    cursor: pointer;
    display: none;
    top: -8px;
    right: 10px;
}

#photos .photo:hover .setmain {
    opacity: 0.8;
    display: block;
}

#photos .photo .setmain:hover {
    opacity: 1;
    display: block;
}

